<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,intital-scale=1"/>
    <meta name="author" content="Hayden Bradfield"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="Hayden Bradfield"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="theme-color" content="#000"/>
    <title>Masterpieces by Hayden Bradfield</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>